@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* alignment of previous search */
/* #lastSearch h1{
    text-align: center;
    color:#130888
} */

@keyframes flexible {
	
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scaleX(1);
	}
}

/* favourites animation */
#favourites h3 {
text-align: right;
animation-name: flexible;
animation-timing-function: ease-in-out;
animation-duration: 2s;
perspective: 10000px;
transform-style: preserve-3d;
animation-iteration-count: infinite;
}

#favourites:hover{
    color: rgb(22, 50, 231);
}
#lastSearch h3 {
	text-align: right;
	animation-name: flexible;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	perspective: 10000px;
	transform-style: preserve-3d;
	animation-iteration-count: infinite;
	}
	
	#lastSearch:hover{
		color: rgb(22, 50, 231);
	}